alembic==1.7.4
aniso8601==9.0.1
autopep8==1.5.7
cachelib==0.4.1
click==8.0.1
Flask==2.0.2
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
importlib-metadata==4.8.1
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.2
Mako==1.1.5
MarkupSafe==2.0.1
psycopg2-binary==2.9.1
pycodestyle==2.7.0
pytz==2021.3
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
Werkzeug==2.0.2
zipp==3.6.0
